/* Reset */

body, h1, h2, h3, ul, p, button {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    display: block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    background-color: transparent;
    font-family: Karen;
    font-size: 1em;
    font-weight: 700;
    word-spacing: 3px;
    padding: 8.5px 23.33px;
    border-width: 2px;
    border-style: none;
    border-color: none;
    border-image: none;
}

/* General Styles */

.container {
    max-width: 1110px;
    display: flex;
    margin: 0 auto;
}

a {
    color: hsl(273, 4%, 51%);
}

p, li, a, button {
    font-family: Karla;
}

h1, h2 {
    font-family: "DM Serif Display";
}

h1 {
    font-size: 4.325em;
    font-weight: 400;
}

h2 {
    font-size: 2em;
}

h3 {
    font-family: Karla;
}

img {
    display: block;
    width: 100%;
}   

html {
    scroll-behavior: smooth;
}

/* Header */

.header {
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    position: sticky;
    top: 0;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu-mobile {
    display: none;
    max-width: 32px;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: hsl(273, 4%, 51%);
    padding: 8.5px 23.33px;
    word-spacing: 3px;
}

.menu li:last-child a {
    border: 2px solid hsl(270, 9%, 17%);
    color: hsl(270, 9%, 17%);
    margin-left: 34px;
    font-weight: 700;
}

.menu li a:hover {
    color: hsl(270, 9%, 17%);
}

.menu li:last-child a:hover {
    color: hsl(0, 0%, 98%);
    background-color: hsl(270, 9%, 17%);
}

/* Introdução */

.introduction {
    background-color: hsl(256, 26%, 20%);
    position: relative;
}

.introduction .container {
    justify-content: space-between;
    box-sizing: border-box;
    padding: 177px 0px 0px;
    max-height: 600px;
}

.introduction p, .introduction h1, .introduction button {
    color: hsl(0, 0%, 98%);
}

.introduction h1 {
    max-width: 480px;
    line-height: 0.95em;
}

.introduction h1::before {
    content: "";
    display: block;
    position: relative;
    width: 150px;
    height: 1px;
    bottom: 72px;
    background-color: hsl(0, 0%, 98%);
} 

.introduction p {
    max-width: 537px;
    margin: 34px 0;
    line-height: 1.6em;
}

.introduction button {
    border: 2px solid hsl(0, 0%, 98%);
    position: relative;
    z-index: 1;
}

.introduction button:hover {
    color: hsl(256, 26%, 20%);
    background-color: hsl(0, 0%, 98%);
}

.introduction_img {
    position: relative;
    bottom: 72px;
}

.introduction::after {
    content: "";
    display: block;
    width: 436px;
    height: 593px;
    background: url("../images/bg-pattern-intro-right-desktop.svg") no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

.introduction::before {
    content: "";
    display: block;
    width: 195px;
    height: 504px;
    background: url("../images/bg-pattern-intro-left-desktop.svg") no-repeat;
    position: absolute;
    top: 429px;
    z-index: 0;
}

/* Features */

.features {
    flex-direction: column;
    padding: 380px 0 166px 0;
}

.features h1 {
    margin-bottom: 100px;
    color: hsl(270, 9%, 17%);
}

.features h1::before {
    content: "";
    display: block;
    position: relative;
    width: 150px;
    height: 1px;
    bottom: 72px;
    background-color: hsl(256, 26%, 20%);
} 

.features .container {
    justify-content: space-between;
}

.features .feature {
    max-width: 350px
}

.feature:nth-child(2) {
    padding: 0 30px;
}

.features h2 {
    color: hsl(270, 9%, 17%);
    margin: 40px 0 15px 0;
    font-weight: 400;
}

.feature_img {
    max-width: 86px;
}

.features p {
    color: hsl(273, 4%, 51%);
    line-height: 1.6em;
}

/* Call to action */

.call_to_action {
    background-color: hsl(256, 26%, 20%);
    justify-content: space-between;
    align-items: center;
    padding: 71px 0;
    margin-bottom: 150px;
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.call_to_action h1 {
    max-width: 475px;
    color: hsl(0, 0%, 98%);
    line-height: 1em;
    font-size: 3.4em;
    font-weight: 400;
    margin-left: 82px;
}

.call_to_action button {
    border: 2px solid hsl(0, 0%, 98%);
    color: hsl(0, 0%, 98%);
    padding: 8.5px 16.125px;
    margin-right: 84px;
}

.call_to_action button:hover {
    color: hsl(256, 26%, 20%);
    background-color: hsl(0, 0%, 98%);
}

/* Footer */

.footer {
    padding: 67px 0;
    background-color: #fafafa;
    background-image: url("../images/bg-pattern-footer-desktop.svg");
    background-repeat: no-repeat;
}

.footer_top {
    justify-content: space-between;
    padding-bottom: 22px;
    border-bottom: 1px solid #d9d9d9;
}

.footer_top .social_networks {
    display: flex;
}

.footer_top .social_media {
    margin-left: 17px;
}

.social_media:hover path {
    fill: hsl(270, 9%, 17%);
}

.footer_bottom {
    justify-content: space-between;
}

.footer_bottom div {
    width: 200px;
}

.footer_bottom h3 {
    color: hsl(273, 4%, 51%);
    padding: 50px 0 27px 0;
    text-transform: uppercase;
}

.footer_bottom li a {
    line-height: 2em;
    color: hsl(256, 26%, 20%);
    font-weight: 700;
}

/* Attribution */

.attribution {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    text-align: center;
}

/* Responsivo */

@media only screen and (max-width: 1200px) {
    /* General Styles */

    .logo, nav, .introduction_img, .introduction_text, .features h1, .features .container, .footer_logo, .social_networks, .footer_bottom div {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 900px) {
    /* Introduction */

    .introduction .container {
        align-items: center;
        flex-direction: column;
        padding: 100px 0px 0px;
    }

    .introduction_text button {
        margin-bottom: 120px;
    }

    .introduction img {
        max-width: 540px;
    }

    .introduction h1::before {
        bottom: 40px;
    }

    .features {
        padding: 660px 0 166px 0;
    }
}

@media only screen and (max-width: 900px) {
    /* Header */

    .menu ul {
        display: none;
        position: fixed;
        background-color: hsl(270, 9%, 17%);
        width: 100%;
        left: 0;
        flex-direction: column;
        align-items: center;
        background-image: url("../images/bg-pattern-mobile-nav.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        height: 87vh;
        top: 80px;
        padding-top: 55px;
    }

    .menu li:last-child a {
        border: 2px solid hsl(0, 0%, 98%);
        color: hsl(0, 0%, 98%);
        padding: 14px 85px;
    }

    .menu li:last-child a:hover {
        border: 2px solid hsl(0, 0%, 98%);
        color: hsl(270, 9%, 17%);
        background-color: hsl(0, 0%, 98%);
    }

    .menu li a {
        line-height: 4em;
        color: hsl(0, 0%, 98%);
    }

    .menu li a:hover {
        color: hsl(273, 4%, 51%);
    }

    .menu li:last-child a {
        margin: 0;
    }

    .menu-mobile {
        display: block;
    }

    .open-menu {
        display: flex !important;
    }
    
    .close-menu {
        display: none !important;
    }

    /* Introduction */

    .introduction .container {
        align-items: center;
        flex-direction: column-reverse;
        padding: 90px 0px;
    }

    .introduction_img {
        position: initial;
    }

    .introduction h1::before {
        content: none;
    }

    .introduction .container {
        max-height: initial; 
    }

    .introduction_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 100px;
    }

    .introduction::before {
        bottom: -655px;
    }

    /* Features */

    .features {
        align-items: center;
        padding: 185px 0 142px 0;
    }

    .features h1::before {
        margin: 0 auto;
        bottom: 26px;
    }

    .features .container {
        flex-direction: column;
    }

    .feature {
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .feature:nth-child(2) {
        padding: 60px 30px;
    }

    /* Call to Action */

    .call_to_action {
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
        padding: 34px 0;
    }

    .call_to_action button {
        margin-right: 0;
    }

    .call_to_action h1 {
        margin: 0 0 45px;
    }

    /* Footer */

    .footer {
        background-image: url("../images/bg-pattern-footer-mobile.svg");
        padding: 86px 0 67px;
    }

    .footer_top {
        flex-direction: column;
        align-items: center;
        padding-bottom: 36px;
    }

    .footer_bottom {
        flex-direction: column;
        align-items: center;
    }

    .footer_bottom div {
        text-align: center;
    }

    .footer_logo {
        max-width: 112px;
        padding: 0;
        margin-bottom: 32px;
    }

}

@media only screen and (max-width: 750px) {
    /* General Styles */

    h1 {
        font-size: 3.1em;
    }

    /* Introduction */

    .introduction, .introduction .container {
        background-color: transparent;
        padding: 0;
    }

    .introduction_img {
        padding: 0;
        width: 100%;
    }

    .introduction h1 {
        margin-top: 100px;
        padding: 0 26px;
    }

    .introduction p {
        padding: 0 26px;
    }

    .introduction button {
        z-index: 1;
        position: relative;
    }

    .introduction::after {
        content: none;
    }

    .introduction::before {
        display: none;
    }

    .introduction_text {
        background-color: hsl(256, 26%, 20%);
        max-height: 537px;
    }

    .introduction_background {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
    }

    .introduction_background::after {
        content: "";
        display: block;
        position: relative;
        background-image: url(../images/bg-pattern-intro-right-mobile.svg);
        background-repeat: no-repeat;
        width: 124px;
        height: 330px;
        bottom: 28px;
    }

    .introduction_text::before {
        content: "";
        display: block;
        position: absolute;
        background-image: url("../images/bg-pattern-intro-left-mobile.svg");
        width: 168px;
        height: 165px;
        left: 0;
    }

    .introduction_text {
        padding: 0;
        width: 100%;
    }

    /* Features */

    .features h1 {
        text-align: center;
    }

    /* Call to action */

    .call_to_action {
        max-width: 326px;
        margin-bottom: 139px;
    }

    .call_to_action h1 {
        font-size: 2.4em;
        max-width: 240px;
    }

    /*  Attribution */ 

    .attribution p {
        max-width: 300px;
    }
}

@media only screen and (max-width: 414px) {
    .menu ul {
        height: 84vh;
    }

    .introduction h1 {
        margin-top: 100px;
        font-size: 3em;
        padding: 0 7px;
    }
}